.side-bar
  .header
    .header__name
      Masa
    %ul.header__lists
      %li.list
        = link_to '#' do
          = icon('fa', 'edit',class: 'icon')
      %li.list
        = link_to '#' do
          = icon('fa', 'cog',class: 'icon')
  .groups
    .group
      .group__name
        A
      .group__message
        新着メッセージ
    .group
      .group__name
        B
      .group__message
        新着メッセージ
    .group
      .group__name
        C
      .group__message
        新着メッセージ