.side-bar {
  background-color: #253141;
  height: 100vh;
  width: 300px;
  float: left;
  color: $white;
  font-weight: bold;
  .header {
    height: 100px;
    padding: 0 20px;
    align-items: center;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    .header__name {
    }
    ul.header__lists {
      display: flex;
      li.list {
        margin-left: 5px;
        a {
        text-decoration: none;
        color: $white;
        }
      }
    }
  }
  .groups {
    background: #2f3e51;
    padding: 20px 20px 0;
    height: calc(100% - 100px);
    color: $white;
    .group {
      margin-bottom: 40px;
      &__name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message {
        font-size: 11px;
      }
    }       
  }
}